<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="ConsoleRoot" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ConsoleRoot: %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %red(Console1:) %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %green(Console2:) %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console3" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %blue(Console3:) %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <logger name="one" level="TRACE" additivity="true">
        <appender-ref ref="Console1"/>
    </logger>

    <logger name="one.two" level="WARN" additivity="false">
        <appender-ref ref="Console2"/>
    </logger>

    <logger name="one.two.three" level="TRACE" additivity="true">
        <appender-ref ref="Console3"/>
    </logger>

    <!-- if profile "json-logs" OR profile "prod" is active-->
    <springProfile name="json-logs, prod">
        <!-- log JSON, and ONLY that (don't bring in Spring Boot root logger) -->
        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
        <logger name="bk.example.logging" level="TRACE" additivity="false">
            <appender-ref ref="json"/>
        </logger>
    </springProfile>

    <!-- if (profile "json-logs" is NOT active) OR (profile "classic-logs" is active) -->
    <springProfile name="!json-logs, classic-logs">
        <root level="INFO">
            <appender-ref ref="ConsoleRoot"/>
        </root>
        <logger name="bk.example.logging" level="TRACE" additivity="false">
            <appender-ref ref="Console1"/>
        </logger>
    </springProfile>

</configuration>
